@font-face {
    font-family: Roboto;
    src: url(../assets/fonts/Roboto.ttf);
}

html,
body {
    width: 100%;
    padding: 0px;
    margin: 0px;
    font-family: Roboto;
}

a,
a:focus,
a:hover {
	text-decoration: inherit;
	color: inherit;
}

.center-vh {
	display: flex;
	align-items: center;
	justify-content: center;
}

.font-14px {
	font-size: 14px;
}

.font-16px {
	font-size: 16px;
}