@font-face {
	font-family: Rubik;
	src: url(../assets/fonts/Rubik.ttf);
}

html,
body {
	width: 100%;
	padding: 0px;
	margin: 0px;
	background-color: #000000;
	font-family: Rubik;
}

.real-card {
	border-radius: 60px;
	transition: 400ms;
	cursor: pointer;
}

.real-card:hover {
	scale: 0.97;
}

.marquee,
.marquee-faster {
	transition: 400ms ease-in-out;
	opacity: 0;
}

.title {
	transition: 200ms ease-in-out;
	opacity: 1;
}

.real-card:hover .marquee,
.real-card:hover .marquee-faster {
	opacity: 1;
}

.real-card:hover .title {
	opacity: 0;
}

.rotate {
	transition: 800ms ease-in-out;
	animation: rotate 4.7s linear infinite;
}

@keyframes rotate {
	to {
		transform: rotate(-360deg);
	}
}

.img {
	transition: 400ms;
}

#highlight .marquee {
	opacity: 1 ;
}

.highlight-hover .img {
	bottom: 50% !important;
	right: 50% !important;
	transform: translate(30%, 30%);
	scale: 1.9;
}

.highlight-hover .marquee {
	opacity: 0 !important;
}