
.center{
    display:flex;
    justify-content:center;
    align-items:center;
}

.container{
    color: rgb(10, 10, 10);
    height: 100%;
    width: 100%;
}

.card{
    transition: all 0.1s;
    width: 20rem;
    height: 30rem;
    background-position: center;
    background-size: cover;
    border-radius: 0.7rem;
    perspective: 100px;
    box-shadow: 0 7px 10px -2px gray;
}


.text{
    width: 24rem;
    position: absolute;
    left: 2rem;
    top:-2rem;
    font-size:3rem;
    background: linear-gradient(to bottom right, #f32170, #cdbb95,#ff6b08, #eedd44);
    background-clip:content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.socials{
    position: absolute;
    bottom: 1rem;
}

.icon{
    height: 2rem;
    width: 2rem;
    margin: 1rem;
    transition: all 0.3s;
    color: aqua;
}

.icon:hover{
    transform: scale(1.2);
}

*{
    font-family: 'Open Sans';
}