
.center{
    display:flex;
    justify-content:center;
    align-items:center;
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 369px;
    height: 547px;
    font-family: 'Source Sans Pro', sans-serif;
    transform-style: preserve-3d;
    transform: translate(-50%, -50%) perspective(600px) rotateY(20deg) rotateX(10deg);
}

.text{
    width: 400px;
    position: absolute;
    left: 30px;
    top: -10px;
    font-size:45px;
    background: linear-gradient(to bottom right, #f32170, #cdbb95,#ff6b08, #eedd44);
    background-clip:content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.me {
    border-radius: 20px;
    position: relative;
    width: 369px;
    height: 547px;
    transform: translateZ(80px) scale(.8);
    background-position: center;
    background-size: cover;
}


.socials{
    position: absolute;
    bottom: 20px;
}

.icon{
    height: 35px;
    margin: 15px;
    transition: all 0.3s;
}
.icon:hover{
    transform: scale(1.2);
}

*{
    font-family: 'Open Sans';
}