
.center{
    display:flex;
    justify-content:center;
    align-items:center;
}

.container{
    color: rgb(10, 10, 10);
    height: 100%;
    width: 100%;
}

.card{
    transition: all 0.1s ease-out;
    width: 350px;
    height: 500px;
    background-position: center;
    background-size: cover;
    border-radius: 0.7rem;
    perspective: 100px;
    box-shadow: 0 7px 10px -2px gray;
}

.text{
    width: 400px;
    position: absolute;
    left: 30px;
    top: -10px;
    font-size:45px;
    background: linear-gradient(to bottom right, #f32170, #cdbb95,#ff6b08, #eedd44);
    background-clip:content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.socials{
    position: absolute;
    bottom: 30px;
}

.icon{
    height: 35px;
    margin: 15px;
    transition: all 0.3s;
}

.icon:hover{
    transform: scale(1.2);
}

*{
    font-family: 'Open Sans';
}