<div class="container fixed-top">
  <div class="row justify-content-center gap-1 py-3">
    <a class="col-auto small text-decoration-none text-primary" href="/resume.pdf">Home</a>
    <a class="col-auto small text-decoration-none text-primary" href="https://cycling.sumanth.dev">About</a>
    <a class="col-auto small text-decoration-none text-primary" href="https://cycling.sumanth.dev">Projects</a>
  </div>
  <md-switch class="position-absolute top-0 end-0 py-2" (change)="toggleTheme()" style="scale: 0.7;"></md-switch>
</div>

<div class="container h-100 align-content-center">

  <div class="row text-center">
    <div class="col">
      <div class="display-2 fw-medium">Hi there, I'm Sumanth</div>
      <div class="display-6 fw-normal">I make software</div>
      <img class="img-fluid pt-5" src="https://ghchart.rshah.org/supersu-man" />
    </div>
  </div>
  <div class="row justify-content-center gap-1">
    <a class="col-auto small text-decoration-none text-primary" href="/resume.pdf">Resume</a>
    <a class="col-auto small text-decoration-none text-primary" href="https://cycling.sumanth.dev">Cycling</a>
    <a class="col-auto small text-decoration-none text-primary" href="https://dev.to/supersuman">Dev</a>
    <a class="col-auto small text-decoration-none text-primary" href="sumanthpera444@gmail.com">Email</a>
    <a class="col-auto small text-decoration-none text-primary" href="https://github.com/supersu-man">GitHub</a>
    <a class="col-auto small text-decoration-none text-primary" href="https://www.linkedin.com/in/sumanthperambuduri">Linkedin</a>
  </div>

</div>
