<div class="container fixed-top">
  <div class="row justify-content-center gap-1 py-3">
    <a class="col-auto small text-decoration-none text-primary" href="#">Home</a>
    <a class="col-auto small text-decoration-none text-primary" href="#about">About</a>
    <a class="col-auto small text-decoration-none text-primary" href="#projects">Projects</a>
  </div>
  <md-switch class="position-absolute top-0 end-0 py-2" (change)="toggleTheme()" style="scale: 0.7;"></md-switch>
</div>

<div class="container h-100 align-content-center">

  <div class="row text-center">
    <div class="col">
      <div class="display-2 fw-medium">Hi there, I'm Sumanth</div>
      <div class="display-6 fw-normal">I make software</div>
      <img class="img-fluid pt-5" src="https://ghchart.rshah.org/supersu-man" />
    </div>
  </div>
  <div class="row justify-content-center gap-1">
    <a class="col-auto small text-decoration-none text-primary" href="assets/resume.pdf">Resume</a>
    <a class="col-auto small text-decoration-none text-primary" href="https://cycling.sumanth.dev">Cycling</a>
    <a class="col-auto small text-decoration-none text-primary" href="https://dev.to/supersuman">Dev</a>
    <a class="col-auto small text-decoration-none text-primary" href="sumanthpera444@gmail.com">Email</a>
    <a class="col-auto small text-decoration-none text-primary" href="https://github.com/supersu-man">GitHub</a>
    <a class="col-auto small text-decoration-none text-primary" href="https://www.linkedin.com/in/sumanthperambuduri">Linkedin</a>
  </div>

</div>

<div class="container">
  <div class="row fs-1">
    <div class="col">
      <div id="about">about me</div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="pt-3">I'm a 23 Year old skilled developer, 2023 CSE graduate from GITAM, Hyd, with a passion for creating full-stack web application and Android native apps. I have an active presence on GitHub, where I share my code and contribute to various projects.</div>
      <div class="pt-2">I work with technologies like:</div>
      <div class="d-flex column-gap-3 flex-wrap">
        <div>Android Studio</div>
        <div>Kotlin</div>
        <div>Electron</div>
        <div>Typescript</div>
        <div>Python</div>
        <div>Socket.io</div>
        <div>Java</div>
        <div>Angular</div>
        <div>Bootstrap</div>
        <div>GitHub Actions</div>
        <div>MySQL</div>
        <div>Docker</div>
        <div>Express.js</div>
        <div>Ionic</div>
      </div>
    </div>
  </div>
</div>
