@font-face {
	font-family: fredoka;
	src: url(assets/fredoka.ttf);
}

a {
    text-decoration: none;
    color: white;
}

.carousel-item {
    transition: 1s !important;
}

.carousel-item, .carousel-inner, .card {
    border-radius: 20px;
}

html, body {
    font-family: fredoka !important;
    background: linear-gradient(to top, rgb(7, 24, 46) 0%, rgb(32, 48, 61) 100%);
    color: white;
}

.card {
    border: none;
    background: rgb(28, 46, 68) !important;
}

nav {
    background-color: rgb(32, 48, 61, 0.8);
}