@font-face {
	font-family: Rubik;
	src: url(assets/Rubik.ttf);
}

html,
body {
	background-color: #000000;
	font-family: Rubik;
	margin: 0px;
	height: 100%;
}

a {
	text-decoration: none;
	color: inherit;
	border-radius: 50px;
}

a:hover {
	scale: 0.96;
}

a:hover super-marquee {
	opacity: 1 !important;
}