
<section id="theme" class="h-100 overflow-y-auto background-surface on-surface dark">

    <div class="container fixed-top background-surface">
        <div class="row justify-content-between align-items-center" style="height: 40px;">
            <div class="col-auto">
                <div role="button" class="text-primary small" routerLink="changelog">Changelog</div>
            </div>
            <div class="col-auto">
                <div class="d-flex align-items-center">
                    Dark theme
                    <md-switch [attr.selected]="themeToggle ? '' : null" (change)="toggleTheme()" style="scale: 0.7;"></md-switch>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row display-2 py-3">
            <div class="col">
                PaySquareRoot
            </div>
        </div>
        <div class="row">
            <div class="col">
                The mobile app designed to complement the PaySquare website. Stay connected and in control, no matter
                where you are.
            </div>
        </div>
        <div class="row justify-content-center py-4">
            <div class="col-auto">
                <md-filled-button (click)="downloadApp()">Download App</md-filled-button>
            </div>
        </div>
    </div>

    <div class="container py-3">
        <div class="row fs-1">
            <div class="col">
                Features
            </div>
        </div>
        <div class="row">
            <div class="col">
                PaySquareRoot brings essential functionalities of the PaySquare website to your mobile device, ensuring you're always in sync.
            </div>
        </div>
        <div class="row mt-3 align-items-center text-center">
            <div class="col-6">
                <img class="rounded-4" src="assets/paysquareroot/dashboard.png" height="300">
            </div>
            <div class="col-6">
                <div class="fw-bolder">Organized Dashboard</div>
                <div>Access all key information in a user-friendly dashboard, designed for a quick and easy navigation.</div>
            </div>
        </div>
        <div class="row align-items-center text-center">
            <div class="col-6">
                <div class="fw-bolder">Check Punch Timings</div>
                <div>Easily view your punch in and out timings, ensuring accurate time tracking.</div>
            </div>
            <div class="col-6">
                <img class="rounded-4" src="assets/paysquareroot/punchtimes.png" height="300">
            </div>
        </div>
        <div class="row align-items-center text-center">
            <div class="col-6">
                <img class="rounded-4" src="assets/paysquareroot/leaves.png" height="300">
            </div>
            <div class="col-6">
                <div class="fw-bolder">Check Leaves</div>
                <div>Check your leave balance and stay updated on your leave requests.</div>
            </div>
        </div>
        <div class="row align-items-center text-center">
            <div class="col-6">
                <div class="fw-bolder">View Events</div>
                <div>Never miss important dates with a consolidated view of anniversaries and birthdays.</div>
            </div>
            <div class="col-6">
                <img class="rounded-4" src="assets/paysquareroot/birthdays.png" height="300">
            </div>
        </div>

    </div>

</section>