.dark {
  --md-sys-color-primary: rgb(129 213 204);
  --md-sys-color-surface-tint: rgb(129 213 204);
  --md-sys-color-on-primary: rgb(0 55 51);
  --md-sys-color-primary-container: rgb(0 80 74);
  --md-sys-color-on-primary-container: rgb(157 242 232);
  --md-sys-color-secondary: rgb(177 204 200);
  --md-sys-color-on-secondary: rgb(28 53 50);
  --md-sys-color-secondary-container: rgb(50 75 72);
  --md-sys-color-on-secondary-container: rgb(204 232 228);
  --md-sys-color-tertiary: rgb(175 201 231);
  --md-sys-color-on-tertiary: rgb(23 50 74);
  --md-sys-color-tertiary-container: rgb(47 73 97);
  --md-sys-color-on-tertiary-container: rgb(206 229 255);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(14 21 20);
  --md-sys-color-on-background: rgb(221 228 226);
  --md-sys-color-surface: rgb(14 21 20);
  --md-sys-color-on-surface: rgb(221 228 226);
  --md-sys-color-surface-variant: rgb(63 73 71);
  --md-sys-color-on-surface-variant: rgb(190 201 198);
  --md-sys-color-outline: rgb(137 147 145);
  --md-sys-color-outline-variant: rgb(63 73 71);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(221 228 226);
  --md-sys-color-inverse-on-surface: rgb(43 50 49);
  --md-sys-color-inverse-primary: rgb(0 106 99);
  --md-sys-color-primary-fixed: rgb(157 242 232);
  --md-sys-color-on-primary-fixed: rgb(0 32 29);
  --md-sys-color-primary-fixed-dim: rgb(129 213 204);
  --md-sys-color-on-primary-fixed-variant: rgb(0 80 74);
  --md-sys-color-secondary-fixed: rgb(204 232 228);
  --md-sys-color-on-secondary-fixed: rgb(5 31 29);
  --md-sys-color-secondary-fixed-dim: rgb(177 204 200);
  --md-sys-color-on-secondary-fixed-variant: rgb(50 75 72);
  --md-sys-color-tertiary-fixed: rgb(206 229 255);
  --md-sys-color-on-tertiary-fixed: rgb(0 29 51);
  --md-sys-color-tertiary-fixed-dim: rgb(175 201 231);
  --md-sys-color-on-tertiary-fixed-variant: rgb(47 73 97);
  --md-sys-color-surface-dim: rgb(14 21 20);
  --md-sys-color-surface-bright: rgb(52 58 57);
  --md-sys-color-surface-container-lowest: rgb(9 15 15);
  --md-sys-color-surface-container-low: rgb(22 29 28);
  --md-sys-color-surface-container: rgb(26 33 32);
  --md-sys-color-surface-container-high: rgb(37 43 42);
  --md-sys-color-surface-container-highest: rgb(48 54 53);
}
