/* You can add global styles to this file, and also import other style files */

@font-face {
	font-family: fredoka;
	src: url(assets/fredoka.ttf);
}

html, body {
    height: 100%;
    margin: 0;
    font-family: fredoka !important;
}

md-text-button::part(ripple) {
    display: none;
}

.text-primary {
    color: var(--md-sys-color-primary) !important;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
}

.card-background {
    background-color: var(--md-sys-color-surface-container-highest);
}

.background-surface {
    background-color: var(--md-sys-color-surface);
}

.on-surface {
    color: var(--md-sys-color-on-surface);
}

.carousel-item {
    transition: 1s !important;
}


